/* ==== RESET & DASAR ==== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

/* Body Konten */
body {
  background: linear-gradient(135deg, rgba(59, 130, 246, 0.4), rgba(164, 219, 255, 0.4), rgba(208, 117, 236, 0.4));
  backdrop-filter: blur(30px); /* blur di belakang elemen ini */
  -webkit-backdrop-filter: blur(30px); /* untuk Safari */
  z-index: -1;
  color: #333;
  font-family: roboto, sans-serif;
  text-align: center;
  padding: 20px;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Logo */
#logo {
  width: 150px; /* bisa di ubah sesuai kebutuhan */
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
}

/* Pertanyaan dan jawban rata kiri */
#question, #options {
  text-align: left;
}

/* ==== LAYOUT UMUM ==== */
#start-screen,
#package-screen,
#quiz-screen,
#result-screen {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Styling warna font */
h1, h2, h3 {
  text-align: center;
  margin-bottom: 20px;
}
h1 {
  color: #1E3A8A;
}
h3 {
  font-style: italic;
  color: #3B82F6;
}


/* Pengaturan Pemilihan Paket Soal */
#package-screen P {
  margin-bottom: 8px;
}

#package-screen {
  width: 500px;
}

#package-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* atau center */
  justify-items: center;
  align-items: center;
  gap: 10px;
}

#package-buttons button {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}


/* Text Input Tnama */
input[type="text"] {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border: 1px solid #6E6E6E;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 15px;
}
input[type="text"]:focus { outline-color: #6E6E6E; }

/* Tombol Mulai Awalal */
button {
  background-color: #007bff;
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 8px 4px;
  font-size: 16px;
}
button:hover {
  background-color: #0056b3;
}

/* Opsi Jawaban */
#options label {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
}

#options input[type="radio"] {
  margin-top: 3px;
}

#options label {
  display: block;
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
}

#options input[type="radio"] {
  margin-right: 10px;
}

/* ==== TIMER ==== */
#timer {
  font-weight: bold;
  margin-bottom: 15px;
  text-align: right;
}

/* ==== RESPONSIVE ==== */
@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  button {
    width: 100%;
    margin: 6px 0;
  }

  input[type="text"] {
    font-size: 14px;
  }

  #toggle-dark {
    bottom: 10px;
    right: 10px;
    padding: 6px;
    font-size: 16px;
  }
}

/* Tombol Nonaktif */
button:disabled {
  background-color: #ccc !important;
  color: #666;
  cursor: not-allowed;
}
